.Section {
    min-height:81vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../../assets/welcome.jpg) center center/cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #333;
    box-shadow: 1px 1px 3px #333;
}

.Section h3 {
    margin: 1rem auto;
    color: #fff;
}

@media only screen and (max-width:768px){
    .Section {
        min-height:85vh;
    }
}