
.Section{
    min-height: 81vh;
    max-width: 100%;
    z-index: 100;
}
/* .Section .Sidebar {
    display: none;
} */
.Section .Main {
    margin: auto auto auto auto;
}
.Section h2 {
    text-align: center;
    color: #333;
}
.Pagination{
    display:flex;
    max-width: 300px;
    margin: auto;
    justify-content: space-between;
}
.Pagination li{
    list-style: none;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-background);
}
.Active{
    /* background-color: white; */
    font-weight: bolder;
    padding: 0.5rem;
    border: 1px solid var(--primary-background);
    cursor: pointer;
}
.Disabled{
    cursor: not-allowed;
}
.Disabled a {
    cursor: not-allowed;
}
@media only screen and (max-width:768px){
    .Section{
        min-height: 85vh;
    }
    /* .Section .Sidebar {
        display: inline;
        position: fixed;
        top:50;
        left: 0;
        cursor: pointer;
    } */
    .Section .Main {
        margin-left: auto;
    }
}