.SearchBar{
    text-align: center;
    width: 100%;
    margin: 0rem auto 1rem auto;
    padding-top: 0.75rem;
}
.SearchBar input {
    margin: 1rem 0rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(163, 163, 163);
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    font-family: monospace;
    font-size: 1rem;
    box-sizing: border-box;
}

.SearchBar input:focus,.SearchBar button:focus{
    outline: none;
    box-shadow: 1px 1px 5px var(--primary-background);
}
.SearchBar button{
    display: inline;
    margin: 1rem 0rem;
    min-width: 100px;
    padding: 0.5rem 0.75rem;
    font-family: monospace;
    border: 1px solid rgb(163, 163, 163);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-background);
    box-sizing: border-box;
}
.Suggestion{
    display: block;
    background-color: #fff;
    position: relative;
    width: 200px;
    
}