.Section {
    width: 95%;
}
.Desktop {
    display: none;
}
.MobileFilter {
    background-color: #ffffff98;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.Open {
    display: flex;
}
.Close {
    display: none;
}
.MobileFilter .MobileType{
    margin: auto;
}
.MobileFilter .Type1 {
    margin: auto;
}
.MobileFilter .Type2 {
    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
}
.MobileFilter .Type3 {
    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
}
.MobileFilter .Type1  input{
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-radius: 5px;
    border: none;
}
.MobileFilter .Type2 select{
    margin: auto;
    width: 150px;
}
.MobileFilter .Type3 input {
    margin: auto;
    width: 125px;
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
}
.MobileFilter select {
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem auto;
}

@media only screen and (min-width:768px){
    .Mobile {
        display: none;
    }
    .Desktop {
        display: block;
    }
    .Desktop .DesktopFilter {
        background-color: #ffffff98;
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 5px;
        width: 90%;
        margin: 1rem auto;
    }
    .Desktop .DesktopFilter select {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: #f4f4f4;
        margin: auto;
    }
    .Desktop .DesktopFilter .Type1 {
        margin: auto;
    }
    .Desktop .DesktopFilter .Type2 {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
    }
    .Desktop .DesktopFilter .Type3 {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
    }
    .Desktop .DesktopFilter .Type1  input{
        padding: 0.5rem;
        margin: 0.5rem auto;
        border-radius: 5px;
        border: none;
    }
    .Desktop .DesktopFilter .Type2 select{
        margin: auto;
        width: 150px;
        background-color: #f4f4f4;
    }
    .Desktop .DesktopFilter .Type3 input {
        margin: auto;
        width: 125px;
        padding: 0.5rem ;
        border-radius: 5px;
        border: none;
    }
}