.Error{
    margin: auto;
    background-color: oldlace;
    padding: 2rem;
    border: 2px solid red;
    border-radius: 10px;
    width: 30%;
}
.Link{
    color: Black;
}
button{
    padding: 1rem;
    background-color: rgb(252, 196, 196);
    color: black;
}