.Section {
    min-height: 81vh;
}
.Section h2{
    text-align: center;
    color: #333;
    margin: 2rem;
}
.Section h4 {
    text-align: center;
    color: #333;
    margin: 2rem;
    cursor: pointer;
}
@media only screen and (max-width:768px){
    .Section .List {
        margin: 1rem auto;
    }
}