.Greetings {
    min-height:81vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../assets/welcome.jpg) center center/cover ;
    text-align: center;
    border-bottom: #333;
    box-shadow: 1px 1px 3px #333;
}
.Greetings h2 {
    padding: 2rem;
    font-size: 2rem;
    color: #f4f4f4;
}
.Section h3{
    color: #ffffff;
}
.Greetings p{
    color: #fff;
    font-size: 1.5rem;
}
.Section {
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.Greetings .Link {
    margin: 1rem;
    color: #161616;
    padding: 0.5rem;
    border:1px solid var(--primary-background);
    border-radius: 5px;
    background-color: var(--primary-background);
    box-sizing: border-box;
}
.Greetings input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 10px;
    margin: 1rem;
}
.Greetings input:focus{
    outline: none;
}
.Books {
    height: 65vh;
    margin-top: 1rem;
    overflow: auto;
}
.Greetings .Table{
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 5px;
    min-width: 500px;
}
.Greetings .Table td {
    padding: 0.75rem 1rem;
}
.Suggestion{
    overflow: auto;
}
.Greetings .Navigate {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0rem 3rem;
    cursor: pointer;
}
@media only screen and (max-width:768px){
    .Greetings {
        min-height:86vh;
    }
    .Greetings h2 {
        padding: 1rem;
        font-size: 1.8rem;
    }
    .Greetings .Table{
        margin: 1rem auto;
        background-color: rgba(255, 255, 255, 0.664);
        border-radius: 5px;
        min-width: 300px;
        overflow: auto;
    }
    .Greetings .Table td {
        padding: 0.75rem 1rem;
    }
}