.Main{
    min-height: 78vh;
}

.Container {
    text-align: center;
    max-width: 500px;
    padding: 5rem 0rem;
    margin: 1rem auto;
    border: 1px solid rgb(247, 252, 184);
    box-shadow: 2px 2px 5px var(--primary-yellow);
    border-radius: 5px;
}

.Container:hover {
    text-align: center;
    max-width: 500px;
    padding: 5rem 0rem;
    margin: 1rem auto;
    border: 1px solid rgb(238, 255, 0);
    box-shadow: 2px 2px 5px var(--primary-yellow);
    border-radius: 5px;
}

.Container p {
    padding: 1rem 1rem ;
    font-size: 0.8rem;
}

.Container{
    color: black;
}

.Link {
    color: #099bf0;
}

.Error {
    box-sizing: border-box;
    background-color: #ffa9a9;
    border: red;
    border-radius: 5px;
    color: #222;
    margin: 0.2rem auto 0rem auto;
    max-width: 300px;
    font-size: 1rem !important;
}
.Session {
    box-sizing: border-box;
    background-color: #a2bbff;
    border: 2px solid rgb(4, 0, 255);
    border-radius: 5px;
    color: #222;
    margin: 0.2rem auto 0rem auto;
    max-width: 300px;
    font-size: 1rem !important;
}
.SessionOk {
    display: inline-block;
    padding:0.5rem;
    border: 1px solid #333;
    border-radius: 10px;
    color: black;
    background-color: white;
    margin-left: 1rem;
}
.SessionOK:hover {
    background-color: blue;
    cursor: pointer;
}
@media only screen and (max-width:768px){
    .Main {
        min-height: 84vh;
    }
}